{% extends "layout.html" %}

{% block title %}
Employee
{% endblock %}

{% block head %}
<h1>Emaployee</h1>
{% endblock %}

{% block content %}
<div>
  <br>
  <!-- กำหนด path ไปยังหน้า form เพิ่มพนักงาน -->
  <a href="#"><button class="newemp">New Employee</button></a>
</div>
<table>
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Genger</th>
      <th>Birth Date</th>
      <th>Hire Date</th>
      <th>Salary</th>
      <th>Department</th>
      <th>Position</th>
    </tr>
  </thead>

  <tbody>
    <!-- วนลูปแสดงข้อมูลพนักงาน -->
    
    <tr>
      <!-- ชื่อ นามสกุล -->
      <td></td>
      <!-- เพศ -->
      <td>
      </td>
      <!-- วันเกิด -->
      <td></td>
      <!-- วันเริ่มงาน -->
      <td></td>
      <!-- เงินเดือน -->
      <td></td>
      <!-- แผนก -->
      <td></td>
      <!-- ตำแหน่งงาน -->
      <td></td>
    </tr>
    
  </tbody>
</table>
{% endblock %}