{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>

  <body>
    {% block nav%}
      {% include 'nav.html' %}
    {% endblock%}
    
    <main>
      <div class="head">
        {% block head %}<h1>Title</h1>{% endblock %}
      </div>

      {% block content %}Content{% endblock %}
    </main>
  </body>

  {% block script %}
  <script src="/"></script>
  {% endblock %}
</html>
