
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        nav {
            display: flex;
            justify-content: space-around;
            background-color: #466bff;
            color: white;
            padding: 20px;
        }

        nav a {
            color: white;
            text-decoration: none;
        }

    </style>
</head>

<div>
    <header>
        <nav>
            <!-- กำหนด path  -->
            <a href="#">Project</a>
            <a href="#">Employee</a>
        </nav>
    </header>
</div>
</html>
