<header class="top-0 left-0 w-full bg-blue-600 text-white shadow-lg z-50">
  <nav class="max-w-8xl mx-auto flex justify-between items-center px-6 py-4">
    <div class="flex items-center gap-6 font-semibold">
      <!-- Hint: ใช้ template tag 'url' -->
      <a href="" class="text-2xl font-bold text-white hover:text-blue-200 transition select-none">MyDjangoApp</a>

      <a href="" class="hover:text-blue-200 transition">Professor</a>
      <a href="" class="hover:text-blue-200 transition">Student</a>
      <a href="" class="hover:text-blue-200 transition">Faculty</a>
      <a href="" class="hover:text-blue-200 transition">Course</a>
    </div>

    <div>
      <span class="text-sm text-blue-100">Welcome, Admin</span>
    </div>
  </nav>
</header>
