
{% extends "layout.html" %}

{% load static %}

{% block title %}Project{% endblock %}

{% block head %}
<h1>Project List</h1>
{% endblock %}

{% block content %}
<div class="itemGroup">
    <div>
        <br>
        <!-- กำหนด path ไปยังหน้า form สร้าง project -->
        <a href="#"><button class="newemp">New Project</button></a>
      </div>
    
      <!-- for loop แสดงผลข้อมูล project -->
    <div class="item">
        <!-- โปรเจค id และ ชื่อ -->
        <div></div>

        <!-- วันเริ่ม และ วันกำหนดส่งโปรเจค -->
        <div></div>

        <div class="action">
            <!-- กำหนด path ให้ถูกต้อง ไปยังหน้า project detail -->
            <a href="#" class="edit btn">แก้ไข</a>          
        </div>
    </div>
    
</div>
{% endblock %}

